[submodule "Zero/Vendor/glm"]
	path = Zero/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Zero/Vendor/GLFW"]
	path = Zero/Vendor/GLFW
	url = https://github.com/haldorj/glfw
[submodule "Zero/Vendor/imgui"]
	path = Zero/Vendor/imgui
	url = https://github.com/haldorj/imgui
